@font-face {
    font-family: 'graffit';
    src: url(../fontes/sickcapital-vice-otf.otf) format(opentype), url(../fontes/sickcapital-vice.ttf) format(truetype);
    /*
    TIPOS DE FONRTES:
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-att (Apple Advanced Typography)
    - svg
    */
}
body {
    font-family: 'graffit', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
main {
    max-width: 500px;
    margin: 0 auto;
}

.home {
display:flex;
flex-direction: column;
text-align: center;
}