@font-face {
    font-family: 'graffit';
    src: url(../fontes/LowBackDemo.otf) format(opentype)
    /*
    TIPOS DE FONRTES:
    - opentype (otf)
    - truetype (ttf)
    - embedded-opentype
    - truetype-att (Apple Advanced Typography)
    - svg
    */
}
body, html {
    background-image: linear-gradient(to top, #363636, #000);
    font-family: 'graffit', Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: #13293d;
}
main {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
}

.home {
display:flex;
flex-direction: column;
text-align: center;
padding: 20px;
}

i, a {
    transition: 0.8s;
    color:#D3D3D3
}

 i:hover, a:hover {
    transform: translateX(25px);
    font-weight: bold;
    color:#451531
}